.root {
  --color: var(--color-on-surface);
  --bg: color-mix(in srgb, var(--color-surface-highest) 30%, transparent);
  --border-color: color-mix(
    in srgb,
    var(--color-on-background-low) 5%,
    transparent
  );
  --label-color: var(--color-on-background);

  --color-focused: var(--color-on-background);
  --bg-focused: var(--color-surface);
  --border-color-focused: var(--color-on-background-low);
  --label-color-focused: var(--color-on-background-low);

  --fs: var(--fs-md);
  --ff: var(--font-p);
  --br: var(--br-md);
  --size: var(--gap-2);

  display: flex;
  flex-direction: column;
  gap: var(--gap);
  font-size: var(--fs);
  width: fit-content;

  /* Errored state */
  &[data-error="true"] {
    & .helperText {
      color: var(--color-error);
    }
  }
  /* Disabled State */
  &:has(.input:disabled) {
    opacity: 0.5;

    & .inputWrapper {
      cursor: not-allowed;
    }
  }
  /* Focused */
  &:has(.input:focus) {
    & .label {
      color: var(--label-color-focused);
    }
    & .inputWrapper {
      background: var(--bg-focused);
      border-color: var(--border-color-focused);
      color: var(--color-focused);
    }
    & .input {
      outline: none;
    }
    /* Focused and errored */
    &[data-error="true"] {
      & .label {
        color: var(--color-error);
      }
      & .inputWrapper {
        border-color: var(--color-error);
      }
    }
  }
  /* Size styles  */
  &[data-size="xs"] {
    --fs: var(--fs-xs);
    --br: var(--br-xs);
    --size: calc(var(--gap) / var(--gr));
  }
  &[data-size="sm"] {
    --fs: var(--fs-sm);
    --br: var(--br-sm);
    --size: var(--gap);
  }
  &[data-size="lg"] {
    --fs: var(--fs-lg);
    --br: var(--br-lg);
    --size: var(--gap-3);
  }
  &[data-size="xl"] {
    --fs: var(--fs-xl);
    --br: var(--br-xl);
    --size: var(--gap-3);
  }
}
.fullWidth {
  width: 100%;
}
.disablePadding {
  & .inputWrapper {
    padding: 0;
  }
}
.disableInputWidth {
  & .input {
    width: 0;
    min-width: 0;
    flex: 1 1 0;
  }
  & .label,
  & .helperText {
    width: auto;
    min-width: 0;
  }
}
.inputWrapper {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  padding: var(--size);
  border: var(--border-width) solid;
  border-color: var(--border-color);
  border-radius: var(--br);
  color: var(--color);
  background: var(--bg);
  backdrop-filter: blur(var(--blur-heavy));
  transition: all var(--transition-time) var(--transition-tf);
}
.input {
  appearance: none;
  -webkit-appearance: none;
  flex: 1 1 100%;
  width: 100%;
  min-width: 20ch;
  height: 100%;
  border: none;
  background: none;
  color: inherit;
  font-size: var(--fs);
  font-family: var(--ff);
  padding-inline: var(--size);
}
.label {
  font-size: 0.9em;
  width: 0;
  min-width: 100%;
  color: var(--label-color);
}
.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.helperText {
  font-size: 0.8em;
  margin-left: calc(var(--gap-2) + var(--size));
  width: 0;
  min-width: 100%;
}
