:root {
  --header-height: 3.5rem;
  --sidebar-open: 18rem;
  --sidebar-closed: 3rem;
  --transition-tf: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

body,
html {
  font-family: var(--font-p), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: var(--palette-text-secondary) var(--palette-text-disabled);
}
a {
  color: inherit;
  text-decoration: none;
  transition: color 0.15s var(--transition-tf);
  &:hover {
    color: var(--palette-text-primary);
  }
}

// Scrollbar styles
::-webkit-scrollbar {
  width: var(--sp-1);
  height: var(--sp-1);
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset var(--shadow);
  -webkit-border-radius: var(--br);
  border-radius: var(--br);
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: var(--br);
  background: var(--gray-75);
  -webkit-box-shadow: var(--shadow);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: var(--gray-50);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
.overflow-guard,
.monaco-editor {
  border-radius: var(--shape-borderRadius);
}
