.root {
  --color: var(--color-on-background);
  --bg: none;
  --color-hover: var(--color-on-background);
  --bg-hover: color-mix(in srgb, var(--color-on-background) 10%, transparent);
  --border-color: var(--color-outline);
  --ff: var(--font-p);
  --fs: var(--fs-md);
  --br: var(--br-md);
  --size: var(--gap-2);
  /* Root styles */
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--size);
  padding: var(--size) calc(1.618 * var(--size));
  position: relative; /* Relative because of ripple, dont remove orelse ripple wont work */
  max-width: fit-content;
  height: min-content;
  border: none;
  background: var(--bg);
  color: var(--color);
  font-family: var(--ff);
  font-size: var(--fs);
  font-weight: bold;
  transition: all var(--transition-time) var(--transition-tf);
  border-radius: var(--br);

  /* Hover Styles */
  &:not(:disabled):hover {
    color: var(--color-hover);
    background: color-mix(in srgb, var(--bg-hover) 50%, transparent);
  }
  /* Disabled styles */
  &:disabled,
  &.disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
  /* When focused with keyboard state */
  &:focus-visible {
    outline: var(--focus-ring);
  }
  /* Variant colors */
  &[data-color="primary"] {
    --color: var(--color-primary);
    --bg: none;
    --color-hover: var(--color-on-primary-container);
    --bg-hover: var(--color-primary-container);
    --border-color: var(--color-primary);
    &.contained {
      --color: var(--color-on-primary);
      --bg: var(--color-primary);
    }
  }
  &[data-color="secondary"] {
    --color: var(--color-secondary);
    --bg: none;
    --color-hover: var(--color-on-secondary-container);
    --bg-hover: var(--color-secondary-container);
    --border-color: var(--color-secondary);
    &.contained {
      --color: var(--color-on-secondary);
      --bg: var(--color-secondary);
    }
  }
  &[data-color="tertiary"] {
    --color: var(--color-tertiary);
    --bg: none;
    --color-hover: var(--color-on-tertiary-container);
    --bg-hover: var(--color-tertiary-container);
    --border-color: var(--color-tertiary);
    &.contained {
      --color: var(--color-on-tertiary);
      --bg: var(--color-tertiary);
    }
  }
  &[data-color="error"] {
    --color: var(--color-error);
    --bg: none;
    --color-hover: var(--color-on-error-container);
    --bg-hover: var(--color-error-container);
    --border-color: var(--color-error);
    &.contained {
      --color: var(--color-on-error);
      --bg: var(--color-error);
    }
  }
  &[data-color="warn"] {
    --color: var(--color-warn);
    --bg: none;
    --color-hover: var(--color-on-warn-container);
    --bg-hover: var(--color-warn-container);
    --border-color: var(--color-warn);
    &.contained {
      --color: var(--color-on-warn);
      --bg: var(--color-warn);
    }
  }
  &[data-color="success"] {
    --color: var(--color-success);
    --bg: none;
    --color-hover: var(--color-on-success-container);
    --bg-hover: var(--color-success-container);
    --border-color: var(--color-success);
    &.contained {
      --color: var(--color-on-success);
      --bg: var(--color-success);
    }
  }
  /* Size styles */
  &[data-size="xs"] {
    --fs: var(--fs-xs);
    --br: var(--br-sm);
    --size: calc(var(--gap) / var(--gr));
  }
  &[data-size="sm"] {
    --fs: var(--fs-sm);
    --br: var(--br-md);
    --size: var(--gap);
  }
  &[data-size="lg"] {
    --fs: var(--fs-lg);
    --br: var(--br-lg);
    --size: var(--gap-3);
  }
  &[data-size="xl"] {
    --fs: var(--fs-xl);
    --br: var(--br-xl);
    --size: var(--gap-4);
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: max-content;
}
.fullWidth {
  max-width: 100%;
}

.square {
  aspect-ratio: 1 / 1;
  padding: var(--size);
}
.contained {
  --color: var(--color-background);
  --bg: var(--color-on-background);
}
.outlined {
  outline: var(--border-width) solid var(--border-color);
  outline-offset: calc(-1 * var(--border-width));
  &:not(:disabled):hover {
    border-color: transparent;
  }
}
