.root {
  position: absolute;
  right: 0;
  top: 50%;
  translate: 0 -50%;
  display: flex;
  align-items: center;
  padding-inline: var(--size);
  cursor: pointer;
  color: var(--color);
  font-size: var(--fs);
  & svg {
    width: 1.2em;
    height: 1.2em;
  }
}
