.root {
  --color: var(--color-on-surface);
  --bg: var(--color-surface);
  --color-checked: var(--color-surface);
  --bg-checked: var(--color-on-surface);
  --fs: var(--fs-md);
  --size: 24px;
  --br: var(--br-md);
  display: flex;
  flex-direction: column;

  &:has(input[type="checkbox"]:checked),
  &:has(input[type="checkbox"]:indeterminate) {
    --color: var(--color-checked);
    --bg: var(--bg-checked);
  }

  &:has(input[type="checkbox"]:disabled) {
    opacity: 0.5;
  }
}
.inputWrapper {
  display: flex;
  align-items: center;
  gap: var(--gap-2);
  &:has(input[type="checkbox"]:focus-visible) {
    font-weight: bold;
  }
}
.checkbox {
  width: var(--size);
  height: var(--size);
  position: relative;

  & > input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    width: 100%;
    height: 100%;
    color: var(--color);
    background: var(--bg);
    border-radius: var(--br);
    cursor: pointer;
    transition: all var(--transition-time) var(--transition-tf);
  }
  & > input[type="checkbox"]:focus-visible {
    outline: var(--border-width) dashed var(--color-focus);
  }
  & > input[type="checkbox"]:disabled,
  &:has(input[type="checkbox"]:disabled) + .label {
    cursor: not-allowed;
  }
}
.checkboxIconsWrapper {
  position: absolute;
  inset: 0;
  color: var(--color);
  pointer-events: none;
  height: 100%;
  text-align: center;
  & > svg {
    inset: 0;
    width: 100%;
    height: 100%;
    position: absolute;
  }
}
.label {
  font-size: var(--fs);
  cursor: pointer;
}
/* For start and end icons */
.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.error {
  color: var(--color-error);
  font-size: calc(0.75 * var(--fs));
  margin-left: calc(var(--gap-2) + var(--size));
}
.root[data-size="xs"] {
  --fs: var(--fs-sm);
  --size: 18px;
  --br: var(--br-sm);
}
.root[data-size="sm"] {
  --fs: var(--fs-sm);
  --size: 20px;
  --br: var(--br-sm);
}
.root[data-size="lg"] {
  --fs: var(--fs-lg);
  --size: 28px;
  --br: var(--br-lg);
}
.root[data-size="xl"] {
  --fs: var(--fs-xl);
  --size: 32px;
  --br: var(--br-lg);
}
.root[data-color="primary"] {
  --color: var(--color-on-primary);
  --bg: var(--color-primary-alpha);
  --color-checked: var(--color-on-primary);
  --bg-checked: var(--color-primary);
}
.root[data-color="secondary"] {
  --color: var(--color-on-secondary);
  --bg: var(--color-secondary-alpha);
  --color-checked: var(--color-on-secondary);
  --bg-checked: var(--color-secondary);
}
.root[data-color="tertiary"] {
  --color: var(--color-on-tertiary);
  --bg: var(--color-tertiary-alpha);
  --color-checked: var(--color-on-tertiary);
  --bg-checked: var(--color-tertiary);
}
.root[data-color="error"] {
  --color: var(--color-on-error);
  --bg: var(--color-error-alpha);
  --color-checked: var(--color-on-error);
  --bg-checked: var(--color-error);
}
.root[data-color="warn"] {
  --color: var(--color-on-warn);
  --bg: var(--color-warn-alpha);
  --color-checked: var(--color-on-warn);
  --bg-checked: var(--color-warn);
}
.root[data-color="success"] {
  --color: var(--color-on-success);
  --bg: var(--color-success-alpha);
  --color-checked: var(--color-on-success);
  --bg-checked: var(--color-success);
}
